</div>
</div>
<!-- Footer -->
<footer id="footer">
	<div class="inner">
		<section>
			<h2>Contact</h2>
			<b>Email:</b> <ul>ji_sstia@163.com</ul>
		</section>
		<ul class="copyright">
			<li>&copy; 2023-2024 {{ site.title }}. All Rights Reserved.</li>
			<li>2023FA-01</li>
		</ul>
	</div>
</footer>

</div>

<!-- Scripts -->
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/skel.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/util.js"></script>
<!--[if lte IE 8]><script src="{{ site.url }}{{ site.baseurl }}/assets/js/ie/respond.min.js"></script><![endif]-->
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/main.js"></script>
